<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleDisplayName</key><string>Servo</string>
    <key>CFBundleIconFile</key><string>servo</string>
    <key>CFBundleIconName</key><string>servo</string>
    <key>CFBundleExecutable</key><string>Servo</string>
    <key>CFBundleIdentifier</key><string>dev.servo.mac</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>Servo</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSLocalNetworkUsageDescription</key><string>Servo shares local development sites with devices on your network.</string>
    <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
